## Ignore Visual Studio temporary files, build results, and## user-specific files.# User-specific files*.rsuser*.suo*.user*.userosscache*.sln.docstates# Build results[Bb]in/[Oo]bj/[Ll]og/*.log# Uncomment if you have tasks that create the following folders:# build/# Build/# Uncomment if you have Visual Studio installer projects# *.vdproj# .vspscc# .NET Coreproject.lock.jsonproject.fragment.lock.jsonartifacts/# Visual Studio 2017+.vs/Generated_Code/# Backup & report files*.ncb*.sdf*.cachefile*.dbmdl*.bak*.Backup*.old*.orig# Others_ReSharper*/*.DotSettings.user.idea/*.sln.iml# ASP.NET ScaffoldingScaffoldingReadMe.txt# Azure Pipelines.vsts/# Rider.idea/*.sln.iml